body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #606060;
  z-index: -1;
}

h1 {
  color: #eb8510;
  text-transform: uppercase;
  font-family: "Raleway";
}

h2 {
  text-transform: uppercase;
}

header,
footer {
  background-color: #1b203d;
  color: #dddddd;
}

header {
  display: flex;
}

nav li {
  display: inline;
}

.game-image {
  max-width: 279;
  max-height: 106px;
}

.game {
  display: grid;
  grid-template-rows: 100px 50px 100px;
  align-items: center;
}

.second-background {
}
