body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #606060;
  min-height: 100vh;
}

h1 {
  color: #eb8510;
  text-transform: uppercase;
  font-family: "Raleway";
}

h2 {
  text-transform: uppercase;
}

header,
footer {
  background-color: #1b203d;
  color: #dddddd;
}

header {
  display: flex;
}

nav {
  display: block;
  position: static;
  z-index: 1000;
  width: 100%;
  background-color: #1b203d;
  text-align: center;
}

nav li {
  display: inline-block;
  text-decoration: none;
  font-family: "Roboto";
}

main {
  background-color: #dddddd;
  padding: 20px;
  width: 1364px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.cta {
  background-color: #eb8510;
  color: #000000;
  font-size: 16px;
  font-weight: 800;
  text-decoration: none;
  margin-left: auto;
  border-radius: 5px;
  text-transform: uppercase;
}

.cta-buy {
  grid-column: 2;
  margin-right: 5px;
  padding: 5px 30px;
}

.game-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 80px;
  max-width: auto;
  padding-left: auto;
}

.game {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 5px 5px 10px #707070;
  background-color: #ffff;
  align-items: center;
}

.game h3,
.game p {
  grid-column: 1;
  padding-left: 4px;
}

.game-list img {
  width: 100%;
  grid-column: -1/1;
}

.game-list h2 {
  grid-column: -1/1;
}
