body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  background-color: #606060;
  min-height: 100vh;
  max-width: 1000px;
}

h1 {
  color: #eb8510;
  text-transform: uppercase;
  font-family: "Raleway";
}

h2 {
  text-transform: uppercase;
}

header,
footer {
  background-color: #1b203d;
  color: #dddddd;
}

header {
  display: flex;
}

nav li {
  display: inline;
  text-decoration: none;
  font-family: "Roboto";
  padding-left: 10px;
}

.game-image {
  max-width: 279;
  max-height: 106px;
}

.game {
  display: grid;
  grid-template-rows: 100px 50px 100px;
  align-items: center;
}

.second-background {
}

.cta {
  background-color: #eb8510;
  color: #000000;
  font-size: 16px;
  font-weight: 800;
  text-decoration: none;
  padding: 10px 50px;
  margin-left: auto;
  border-radius: 5px;
  text-transform: uppercase;
}

.game-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 300px;
  max-width: 1000px;
  padding-left: ;
}
